{% load static %}

<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  {% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.bootstrap4.min.css">
  {% endblock %}
  <title>
    {% block title %}
    bethub
    {% endblock %}
  </title>
</head>

<body>

  <div class="container-fluid p-0 d-flex " style="min-height: 100vh; max-width: 100%;">
    
    <div class="bg-dark w-100 px-2 pt-2" style="max-width: 104px; min-width: 84px;">
      <div class="text-center text-success mb-4">
        {{ user.username| truncatechars:9  }}
      </div>
      <nav class="nav flex-column nav-pills nav-fill">
        <a class="nav-link link-success border border-success mb-2 {% ifequal request.path '/table/' %} link-warning border-warning {% endifequal %}" href="{% url 'table' %}" data-toggle="tooltip" data-placement="right" title="Основная таблица"><span><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-table mr-2"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
            </svg></span> </a>
        <a class="nav-link link-success border border-success mb-2 {% ifequal request.path '/next/' %} link-warning border-warning {% endifequal %}" href="{% url 'next' %}" data-toggle="tooltip" data-placement="right" title="Матчи сегодня"><span><svg width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-clock-history" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
              <path fill-rule="evenodd"
                d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
            </svg></span> </a>
        <a class="nav-link link-success border border-success mb-2 {% ifequal request.path '/profile/' %} link-warning border-warning {% endifequal %}" href="{% url 'profile' %}" data-toggle="tooltip" data-placement="right" title="Личный профиль"><span><svg width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
              <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg></span> </a>
            <!-- href="{% url 'logout' %}" -->
        <a class="nav-link link-secondary border border-secondary" data-toggle="modal" data-target="#exampleModal" data-toggle="tooltip" data-placement="right" title="Выход"><span><svg width="2em" height="2em" viewBox="0 0 16 16"
              class="bi bi-door-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z" />
              <path fill-rule="evenodd"
                d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z" />
              <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z" />
            </svg></span></a>
      </nav>

    </div>
    
    <div class="bg-secondary w-100 p-3" style="max-width: auto;">
      {% block content %}

      {% endblock %}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="bg-dark modal-header">
            <h5 class="modal-title text-white" id="exampleModalLabel">Вы уверены, что хотите выйти?</h5>
          </div>

          <div class="bg-secondary modal-footer d-flex justify-content-center">
            <a type="button" class=" flex-fill btn btn-success" data-dismiss="modal">Остаться</a>
            <a type="button" href="{% url 'logout' %}" class="flex-fill btn btn-danger ">Выйти</a>
          </div>
        </div>
      </div>
    </div>
  
  
  
  </div>




  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>

  <!-- DataTables scripts -->
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/keytable/2.5.3/js/dataTables.keyTable.min.js"></script>
  <script src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

  {% block script %}
  {% endblock %}

</body>

</html>