{% extends 'base.html' %}
{% load static %}


{% block title%}
BETHUB - Главная
{% endblock%}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
<script src="https://kit.fontawesome.com/8a28303197.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container-fluid p-0  d-flex flex-column h-100" style="margin-top: 65px;">
    <nav class="navbar navbar-light bg-white shadow navbar-expand-lg text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="">BETHUB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded " href="#about">О
                            проекте</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#works">Как
                            это
                            работает</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#start">Как
                            начать</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-0 mx-lg-1 dropdown">
                        <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">Профиль</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                        </div>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="{% url 'table' %}">Таблица</a></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="{% url 'login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <section id="about" class="sec">
        <div class="container my-3">
            <h2 class="text-center text-uppercase mb-0">О проекте</h2>
            <div class="d-flex flex-wrap flex-lg-nowrap justify-content-center p-2">
                <div class="p-2 mx-lg-3 mx-md-2">
                    <p class="text-justify">
                        BETHUB - это сервис коэффициентного анализа футбольных матчей. Наш проект является
                        дополнительным инструментом для анализа исходов спортивных событий. Сервис позволяет на
                        основе коэффициентов, предоставленных букмекерской конторой, увидеть все похожие события и их
                        исходы, процентные соотношения исходов, а также теоретическую прибыль. Проект создан людьми,
                        которые уже не один год успешно применяют данный метод анализа на практике.
                    </p>
                </div>
                <div style="min-width: 220px;">
                    <img class="img-fluid rounded shadow" src="{% static 'main/assets/gif/mac_money.gif' %}" alt="" />
                </div>
            </div>
        </div>
    </section>

    <section id="works" class="sec bg-custom-light">
        <div class="container my-3">
            <h2 class="text-center text-uppercase mb-0">Как это работает</h2>
            <div class="d-flex flex-wrap flex-lg-nowrap justify-content-center p-2">
                <div class="p-2">
                    <div class="card-deck text-center">
                        <div class="card p-2 shadow border border-dark">
                            <i class="fas fa-database fa-7x mx-auto"></i>
                            <div class="card-body">
                                <h5 class="card-title">40.000+ матчей</h5>
                                <hr>
                                <p class="card-text text-justify">Наша база матчей постоянно растет и регулярно обновляется. В ней уже более 40.000
                                    матчей. Каждый день в нашу базу попадает от нескольких сотен до тысячи матчей. С каждым днем аналитика становиться эффективнее.</p>
                            </div>
                        </div>
                        <div class="card p-2 shadow border border-dark">
                            <i class="far fa-chart-bar fa-7x mx-auto"></i>
                            <div class="card-body">
                                <h5 class="card-title">Нужные фильтры</h5>
                                <hr>
                                <p class="card-text text-justify">Мы стараемся сделать интерфейс понятным, простым и отзывчивым.
                                    Инструменты не перегружены множеством непонятных и ненужных фильтров, которые не дают
                                    никакой дополнительной информации, а только ухудшают юзабилити сервиса.</p>
                            </div>
                        </div>
                        <div class="card p-2 shadow border border-dark">
                            <i class="fas fa-search-dollar fa-7x mx-auto"></i>
                            <div class="card-body">
                                <h5 class="card-title">PROFIT</h5>
                                <hr>
                                <p class="card-text text-justify">Наша команда тщательно проверяла эффективность нашего сервиса.
                                    При использовании сервиса, как дополнительного инструмента при анализе, средняя проходимость ставок
                                    увеличивалась, при разных стратегиях, от 15% до 100%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="start" class="sec bg-custom-light">
        <div class="container my-3 text-center">
            <h2 class="text-center text-uppercase mb-0">Как начать пользоваться</h2>
            <div class="d-inline-flex flex-column justify-content-center p-2">
                <div
                    class="d-flex flex-wrap justify-content-center bg-white rounded shadow-lg p-4 my-3 border border-dark">
                    <div>
                        <h4>Шаг первый - Регистрация</h4>
                        <a type="button" class="btn text-white btn-custom-dark btn-lg mb-1"
                            href="{% url 'register' %}">Зарегистрироваться</a>
                        <div>
                            <a href="{% url 'login' %}" class="ml-2 link-success">Уже есть аккаунт?</a>
                        </div>
                    </div>
                </div>
                <div
                    class="d-flex flex-column flex-wrap justify-content-center bg-white rounded shadow-lg text-center p-4 mb-3 border border-dark">
                    <div>
                        <h4>Шаг второй - Выбрать подписку</h4>
                        На данный момент мы предлагаем бесплатную подписку!
                    </div>
                    <div class="d-flex text-center justify-content-center mt-2">
                        <i class="fab fa-google-pay fa-3x mr-2"></i>
                        <i class="fab fa-apple-pay fa-3x mr-2"></i>
                        <i class="fab fa-cc-visa fa-3x mr-2"></i>
                        <i class="fab fa-cc-mastercard fa-3x"></i>
                    </div>
                </div>
                <div
                    class="d-flex flex-wrap justify-content-center bg-white rounded shadow-lg text-center p-4 border border-dark">
                    <div>
                        <h4>Шаг третий - Начать пользоваться</h4>
                        <div class="px-5">
                            <a type="button" class="btn btn-block btn-custom-dark text-white btn-lg"
                                href="{% url 'table' %}">Начать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer mt-auto bg-custom-dark">
        <div class="container">
            <div class="text-center text-white  p-3">
                <p class="text-uppercase">bethub 2021</p>
                <a href="https://t.me/joinchat/SXqg1TtZ35sZExcj"
                    class="btn btn-info m-auto"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-telegram text-white" viewBox="0 0 20 20">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z" />
                    </svg> мы в telegram</a>
            </div>
        </div>
    </footer>
</div>
{% endblock %}


{% block script %}
{% endblock %}