{% extends 'base_main.html' %}
{% load static %}

{% block title %}
Таблица
{% endblock %}


{% block content %}

<div class="d-flex flex-column flex-grow-1">
    <div class="bg-white shadow rounded d-flex flex-wrap justify-content-center text-black px-3 py-1">
        <div>
            <table class="table table-sm table-bordered m-0 text-center">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" style="min-width: 30px;">П1</th>
                        <th scope="col" style="min-width: 30px;">X</th>
                        <th scope="col" style="min-width: 30px;">П2</th>
                        <th scope="col">Всего</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Кол-во</th>
                        <td id="statP1C"></td>
                        <td id="statXC"></td>
                        <td id="statP2C"></td>
                        <td id="statCount"></td>
                    </tr>
                    <tr>
                        <th>$Ф</th>
                        <td id="statP1F"></td>
                        <td id="statXF"></td>
                        <td id="statP2F"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center align-self-center mx-3 p-2" style="max-width: 300px;">
            <label for="selectCountry">Региональный фильтр</label>
            <div class="d-flex">
                <select id="selectCountry" class="custom-select mr-1">
                    <option>Все континенты</option>
                    <option>Азия</option>
                    <option>Европа</option>
                    <option>Америка</option>
                    <option>Австралия</option>
                    <option>Африка</option>
                </select>
                <a href="{% url 'leagues' %}" class="text-success"><i class="fas fa-info-circle fa-1x"></i></a>
            </div>
        </div>
        <div id="matchAnalyze" class="text-center align-self-center p-2">
            <label for="blockMatchAnalyze">Выбор матча для анализа</label>
            <div id="blockMatchAnalyze" class="d-flex">
                <select id="selectMatch" class="custom-select"></select>
                <button id="deleteSelectMatch" class="btn btn-custom-dark mx-2" data-toggle="tooltip"
                    data-placement="top" title="Удалить выбранный матч"><i
                        class="text-white fas fa-minus "></i></button>
                <button id="deleteAllMatch" class="btn btn-custom-dark" data-toggle="tooltip"
                    data-placement="top" title="Удалить все матчи"><i
                        class="text-white far fa-trash-alt "></i></button>
            </div>
        </div>
        <div id="matchAnalyzeInfo" class="text-center align-self-center p-2">
            <label for="blockMatchAnalyze">Вы можете выбрать матчи для анализа</label>
            <div id="blockMatchAnalyze" class="d-flex">
                <a href="{% url 'next' %}" class="m-auto text-success">Матчи на сегодня</a>
            </div>
        </div>
    </div>

    <div class="bg-white shadow rounded my-3 px-1 h-100 flex-grow-1">
        <table id="datatable" class="table-sm table-hover table-bordered nowrap text-center" style="width:100%;">

            <thead style="background-color: #f5f5f5;">
                <tr>
                    <td rowspan="2" class="font-weight-bold">Дата</td>
                    <td rowspan="2" class="py-0  mb-0">
                        <input id="searchLigue" class="form-control my-1" type="text" placeholder="Чемпионат"
                            maxlength=50 autocomplete="off" style="min-width: 135px;" />
                    </td>
                    <td rowspan="2" class="font-weight-bold">Пари</td>
                    <td rowspan="2" class="font-weight-bold">Счет</td>
                    <td rowspan="2" class="font-weight-bold">1Т</td>
                    <th class="py-0 m-0" style="padding-right: 3px;">
                        <input id="col5_filter" data-column="5" type="text" name="filter_p1"
                            class="form-control column_filter px-1 my-1 text-center mx-auto" placeholder="П1"
                            value="{{ p1 }}" maxlength=5 autocomplete="off" style="min-width: 45px; max-width: 75px;">
                    </th>
                    <th class="py-0 m-0" style="padding-right: 3px;">
                        <input id="col6_filter" data-column="6" type="text" name="filter_x"
                            class="form-control column_filter px-1 my-1 text-center mx-auto" placeholder="X"
                            value="{{ x }}" maxlength=5 autocomplete="off" style="min-width: 45px; max-width: 75px;">
                    </th>
                    <th class="py-0 m-0" style="padding-right: 3px;">
                        <input id="col7_filter" data-column="7" type="text" name="filter_p2"
                            class="form-control column_filter px-1 my-1 text-center mx-auto" placeholder="П2"
                            value="{{ p2 }}" maxlength=5 autocomplete="off" style="min-width: 45px; max-width: 75px;">
                    </th>
                    <th style="padding-right: 3px;">ТБ 2.5</th>
                    <th style="padding-right: 3px;">ТМ 2.5</th>
                    <th style="padding-right: 3px;">ОЗ</th>
                    <th style="padding-right: 3px;">П1/П1</th>
                    <th style="padding-right: 3px;">Н/П1</th>
                    <th style="padding-right: 3px;">П2/П1</th>
                    <th style="padding-right: 3px;">П1/Н</th>
                    <th style="padding-right: 3px;">П2/Н</th>
                    <th style="padding-right: 3px;">П1/П2</th>
                    <th style="padding-right: 3px;">Н/П2</th>
                    <th style="padding-right: 3px;">П2/П2</th>
                    <th style="padding-right: 3px;">Н/Н</th>
                </tr>
                <tr>
                    <th class="font-weight-normal" id="fs_p1">-%</th>
                    <th class="font-weight-normal" id="fs_x">-%</th>
                    <th class="font-weight-normal" id="fs_p2">-%</th>
                    <th class="font-weight-normal" id="fs_tb">-%</th>
                    <th class="font-weight-normal" id="fs_tm">-%</th>
                    <th class="font-weight-normal" id="fs_oz">-%</th>
                    <th class="font-weight-normal" id="fs_p1p1">-%</th>
                    <th class="font-weight-normal" id="fs_xp1">-%</th>
                    <th class="font-weight-normal" id="fs_p2p1">-%</th>
                    <th class="font-weight-normal" id="fs_p1x">-%</th>
                    <th class="font-weight-normal" id="fs_p2x">-%</th>
                    <th class="font-weight-normal" id="fs_p1p2">-%</th>
                    <th class="font-weight-normal" id="fs_xp2">-%</th>
                    <th class="font-weight-normal" id="fs_p2p2">-%</th>
                    <th class="font-weight-normal" id="fs_xx">-%</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'main/js/main_table.js' %}"></script>
{% endblock %}