{% extends 'base_user.html' %}

{% block title%}
Восстановление пароля
{% endblock%}

{% block content%}
<i class="fas fa-envelope fa-4x mb-1" style="color: #34414e;"></i>
<h1 class="h3 mb-3 font-weight-normal">Проверьте почту</h1>
<p class="px-lg-5 mb-2">Если существует учетная запись
    с указанным вами адресом электронной почты, то на нее придет инструкция по восстановлению пароля. Вы получите письмо в ближайшее время.</p>
<p class="px-lg-5">Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, с которым вы регистрировались, и проверьте папку со спамом.</p>
<a href="{% url 'index' %}" class="btn btn-custom-dark text-white">Понял, жду письмо</a>
{% endblock%}


{% block script %}

{% endblock %}