{% extends 'base_user.html' %}

{% block title%}
Восстановление пароля
{% endblock%}

{% block content%}
<i class="fas fa-redo-alt fa-4x mb-1" style="color: #34414e;"></i>
<h1 class="h3 mb-3 font-weight-normal">Восстановление пароля</h1>
<p class="px-lg-5">Забыли свой пароль? Введите адрес электронной почты, с которым был зарегистрирован аккаунт, на него придет инструкция по смене пароля.</p>
<form method="POST" action="">
    {% csrf_token%}
    {{ form }}
    <div class="px-lg-4">
        <button class="btn btn-lg btn-block btn-custom-dark mt-3 mb-2 text-white" type="submit">Отправить письмо</button>
    </div>
</form>
{% endblock%}


{% block script %}
<script type="text/javascript">
    document.getElementsByTagName('label')[0].innerHTML = 'Введите свой Email адрес'
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Email...';

    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock %}