/* .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} */

html {
    scroll-behavior: smooth;
}

.navbar-dark .navbar-nav .nav-link:hover {
     color: rgb(85, 171, 120)
}


.step {
    color: rgb(85, 171, 120);
}

hr {
  height: 2px;
  border: 0;
  background-color: #34414e;
}

.info_main {
    padding: 5vh;
}

div.dts div.dataTables_scrollBody {
    background: white;
  }

table.dataTable thead th,
table.dataTable thead td {
    padding: 5px 3px;
    border-bottom: 1px solid #dee2e6;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding: 5px 3px;
}

.sec {
    border-top: 65px solid transparent;
    margin-top: -65px;
    padding: 15px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

svg {
    color: #34414e;
}

.bg-custom-dark {
    background-color: #34414e;
}

.bg-custom-light {
    background-color: #607992;
}

.btn-custom-dark {
    background-color: #34414e;
}

.btn-custom-dark:hover {
    background-color: #485766;
}


.card:hover {
    transform: scale(1.025);
}


.fav {
    color: #607992;
}

.fav:hover {
    color: #34414e;
}
